@model ProductEditViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Title = "Edycja produktu " + Model.Product.ProductID;
}

<form id="editForm" asp-action="EditProduct" enctype="multipart/form-data" method="post" class="m-5">
    <h4>ID: @Model.Product.ProductID</h4>
    <input type="hidden" asp-for="Product.ProductID" />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Product.Name">Nazwa</label>
                <div><span asp-validation-for="Product.Name" class="text-danger"></span></div>
                <input type="text" asp-for="Product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Description">Opis</label>
                <div><span asp-validation-for="Product.Description" class="text-danger"></span></div>
                <input type="text" asp-for="Product.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Category">Kategoria</label>
                <div><span asp-validation-for="Product.Category" class="text-danger"></span></div>
                <input type="text" asp-for="Product.Category" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Price">Cena</label>
                <div><span asp-validation-for="Product.Price" class="text-danger"></span></div>
                <input type="number" asp-for="Product.Price" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Zapisz</button>
            <a asp-action="Products" class="btn btn-secondary">Anuluj</a>
        </div>
        <div class="col-6">
            @await Component.InvokeAsync("ProductImages", new { productImages = Model.Product.ProductImages, productId = Model.Product.ProductID, isEdit = true })
        </div>
    </div>
</form>


