<!DOCTYPE html>
@{ 
    if(User.IsInRole(IdentityRoleNames.Admins))
    {
        Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link rel="stylesheet" asp-href-include="/bootstrap/css/*.css" />
    <link asp-href-include="/fontawesome/css/*.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/sportsstore/sportsstore.styles.css" type="text/css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js"></script>
    <script src="/mdbootstrap/js/addons/datatables.min.js"></script>
    <script src="~/sportsstore/sportsstore.product.js" defer></script>
    <script src="~/sportsstore/sportsstore.main.js" defer></script>
</head>
<body>
    <div>
        <ul class="nav nav-tabs nav-fill mb-5">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index"
                   asp-controller="Customer"
                   asp-route-customerId="@this.Context.Session.GetInt(SessionData.CustomerId)">Dane podstawowe</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" asp-action="Addresses" 
               asp-controller="Customer"
               asp-route-customerId="@this.Context.Session.GetInt(SessionData.CustomerId)">Adresy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="List"
                   asp-controller="Order"
                   asp-route-customerId="@this.Context.Session.GetInt(SessionData.CustomerId)">Zamówienia</a>
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
