<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/bootstrap/css/*.css" />
    <link asp-href-include="/fontawesome/css/*.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/sportsstore/sportsstore.styles.css" type="text/css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js" defer></script>
    <script src="/mdbootstrap/js/addons/datatables.min.js" defer></script>
    <script src="~/sportsstore/sportsstore.product.js" type="text/javascript" defer></script>
    <script src="~/sportsstore/sportsstore.main.js" defer></script>
    <title>SportsStore</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
</head>
<body>
<div>
    <div class="bg-info p-2 row">
        <div class="col">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="col-4 mr-0">
            <a class="btn btn-secondary ml-1" asp-action="Logout" asp-controller="Account">Wyloguj</a>
            <a class="btn btn-secondary ml-1" asp-action="List" asp-controller="Product">Powrót</a>
        </div>
        
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success mt-1">@TempData["message"]</div>
    }
</div>
<div class="row m-1 p-1">
    <div id="categories" class="col-2">
        @await Component.InvokeAsync("AdminNavigationMenu")
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</div>
</body>
</html>
