<!DOCTYPE html>

@{ 
    Layout = Layout = "~/Views/Shared/_ScriptLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
</head>
<body>
<div>
    <div class="bg-info p-2 row">
        <div class="col">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="col-4 mr-0">
            <a class="btn btn-secondary ml-1" asp-action="Logout" asp-controller="Account">Wyloguj</a>
            <a class="btn btn-secondary ml-1" asp-action="List" asp-controller="Product">Powrót</a>
        </div>
        
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success mt-1">@TempData["message"]</div>
    }
</div>
<div class="row m-1 p-1">
    <div id="categories" class="col-2">
        @await Component.InvokeAsync("AdminNavigationMenu")
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</div>
<div id="popup" class="popup"></div>
</body>
</html>
