<!DOCTYPE html>
@{
    string navBrandColSize = "";
    string quickMenuColSize = "";
    if(User.Identity.IsAuthenticated)
    {
        navBrandColSize = "10";
        quickMenuColSize = "2";
    }
    else
    {
        navBrandColSize = quickMenuColSize = "6";

    }

    Layout = "~/Views/Shared/_ScriptLayout.cshtml";
 }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
</head>
<body>
<div class="navbar navbar-expand-lg">
        <a class="navbar-brand col-@navBrandColSize p-0 m-0" href="#">Sklep sportowy</a>
    <div class="col-@quickMenuColSize p-0 nav-item">
        @await Component.InvokeAsync("QuickMenu", new { returnUrl = Path })
    </div>
</div>
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>
<div id="popup" class="popup"></div>
</body>
</html>
