<!DOCTYPE html>
@{
    string navBrandColSize = "";
    string quickMenuColSize = "";
    if(User.Identity.IsAuthenticated)
    {
        navBrandColSize = "10";
        quickMenuColSize = "2";
    }
    else
    {
        navBrandColSize = quickMenuColSize = "6";

    }
 }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link rel="stylesheet" asp-href-include="/bootstrap/css/*.css" />
    <link asp-href-include="/fontawesome/css/*.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/sportsstore/sportsstore.styles.css" type="text/css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js" defer></script>
    <script src="/mdbootstrap/js/addons/datatables.min.js" defer></script>
</head>
<body>
<div class="navbar navbar-expand-lg">
        <a class="navbar-brand col-@navBrandColSize p-0 m-0" href="#">Sklep sportowy</a>
    <div class="col-@quickMenuColSize p-0 nav-item">
        @await Component.InvokeAsync("QuickMenu", new { returnUrl = Path })
    </div>
</div>
<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>
</body>
</html>
