<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link rel="stylesheet" asp-href-include="/bootstrap/css/*.css" />
    <link asp-href-include="/fontawesome/css/*.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/sportsstore/sportsstore.styles.css" type="text/css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/cldrjs/cldr.js"></script>
    <script src="~/cldrjs/event.js"></script>
    <script src="~/cldrjs/supplemental.js"></script>
    <script src="~/globalize/globalize.js"></script>
    <script src="~/globalize/globalize/number.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="/jquery-validation-globalize/jquery.validate.globalize.js"></script>
    <script src="/mdbootstrap/js/mdb.min.js" defer></script>
    <script src="/mdbootstrap/js/addons/datatables.min.js" defer></script>
    <script src="/sportsstore/sportsstore.product.js" defer asp-append-version="true"></script>
    <script src="/sportsstore/sportsstore.main.js" defer asp-append-version="true"></script>
    <script src="/sportsstore/sportsstore.salesparameters.js" defer asp-append-version="true"></script>
    <script src="/sportsstore/sportsstore.tablebinder.js" defer asp-append-version="true"></script>
    <script src="/sportsstore/sportsstore.customtags.js" defer asp-append-version="true"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
