<div class="card card-body m-1">
    <h6>Podstawowe</h6>
    <a class="btn btn-secondary m-1" asp-action="Index" asp-controller="User">Profil</a>
</div>
<div class="card card-body m-1">
    <h6>Bezpieczeństwo</h6>
    <a class="btn btn-secondary m-1" asp-action="List" asp-controller="User">Użytkownicy</a>
    <a class="btn btn-secondary m-1" asp-action="List" asp-controller="Role">Role</a>
</div>
<div class="card card-body m-1">
    <h6>Sklep</h6>
    <a class="btn btn-secondary m-1" asp-action="Products" asp-controller="Product">Produkty</a>
    <a class="btn btn-secondary m-1" asp-action="List" asp-controller="Order">Zamówienia</a>
    <a class="btn btn-secondary m-1" asp-action="List" asp-controller="Customer">Klienci</a>
</div>