
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dziękujemy!</h2>
<p>Dziękujemy za złożenie zamówienia.</p>
<p>Wyślemy produkt tak szybko, jak tylko będzie to możliwe.</p>


