@model CreateOrderViewModel
@{

}
<div asp-validation-summary="All" class="text-danger"></div>
<h2>Wysyłka</h2>
<p>Podaj swoje dane</p>
<form asp-action="CreateOrder" method="post">   
    <div class="form-group">
        <label class="form-control">Zamawiane dla: @($"{Model.Customer.FirstName} {Model.Customer.LastName}")</label>
    </div>
    <h3>Adres</h3>
    <div class="form-group">
        <label>Ulica</label>
        <input asp-for="Address.Street" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nr budynku</label>
        <input asp-for="Address.BuildingNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nr mieszkania</label>
        <input asp-for="Address.ApartmentNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kod pocztowy</label>
        <input asp-for="Address.ZipCode" class="form-control" />
    </div>
    <div class="form-group">
        <label>Miasto</label>
        <input asp-for="Address.City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Województwo</label>
        <input asp-for="Address.Region" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kraj</label>
        <input asp-for="Address.Country" class="form-control" />
    </div>
    <h3>Opcje</h3>
    <div class="custom-checkbox">
        <label>Zapakowane jako prezent: <input asp-for="GiftWrap" /></label>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-success" value="Złóż zamówienie" />
    </div>
</form>

