.w-10 {
    width: 10rem;
}

.btn-address{

}

.popup {
    width: 250px;
    height: 100px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    padding: 35px 10px;
    border-radius: 0.25rem;
    text-align: center;
    display: none;
}

    .popup.show {
        display: block;
    }