@model ResetPasswordViewModel
@{
}


<form asp-action="ResetPassword" asp-controller="User" method="post">
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <div class="form-group">
        <div><span class="text-danger" asp-validation-for="Password"></span></div>
        <label asp-for="Password">Nowe hasło:</label>
        <input class="form-control" type="password" asp-for="Password" />
    </div>
    <div class="form-group">
        <div><span class="text-danger" asp-validation-for="RepeatedPassword"></span></div>
        <label asp-for="RepeatedPassword">Powtórz hasło:</label>
        <input class="form-control" type="password" asp-for="RepeatedPassword" />
    </div>
    <button class="btn btn-success" type="submit">Zapisz</button>
    <a class="btn btn-secondary" asp-action="List" asp-controller="User">Anuluj</a>
</form>
